---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.8;

$main-color: #a9d8b2;
$main-color-dark: #57ad68;

$border-color: rgba(0,0,0,0.05);
$border-color-dark: rgba(0,0,0,0.1);

$text-color:       rgba(0,0,0,0.6);
$text-color-dark:  rgba(0,0,0,0.8);
$text-color-light: rgba(0,0,0,0.3);

$background-color: #fafafa;


// header 
$header-height: 4rem;

// off-canvas
$off-canvas-width: 18rem;
$off-canvas-btn-color: #333;
$avatar-small: 7rem;
$avatar-large: 9rem;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin user-select($select) { //options: auto, none, text
  -webkit-user-select: $select;
     -moz-user-select: $select;
      -ms-user-select: $select; // IE10+
          user-select: $select;
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

@mixin transition($transition) {   
  -webkit-transition: $transition;
          transition: $transition;
}

@mixin transform($value...) {
  -webkit-transform: $value;
      -ms-transform: $value; // IE9 only
          transform: $value;
}

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees); // IE9 only
          transform: rotate($degrees);
}

@mixin animation($vaule) {
  -webkit-animation: $vaule;
      -ms-animation: $vaule; // IE9 only
          animation: $vaule;
}

@mixin scale($ratio...) {
  -webkit-transform: scale($ratio);
      -ms-transform: scale($ratio); // IE9 only
          transform: scale($ratio);
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "header",
        "post",
        "sidebar"
;
