---
layout: default
---
<div id="loading" class="hidden"><div class="dot"></div></div>
<div class="container">
  <div class="article-list">
    {% for post in paginator.posts %}
      <article>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p>{{ post.excerpt | strip_html }}</p>

        <footer>{{ post.date | date: "%b %-d, %Y" }}</footer>
      </article>
    {% endfor %}
  </div>
  
  {% if paginator.next_page %}
  <p id="load-more">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">READ MORE</a>
  </p>
  {% endif %}
</div>
<!-- <div id="contact">
  <div class="social-list">
    <h1>{{ site.title }}</h1>
    <p>Things that came in my mind...</p>
    <ul>
    {% for item in site.sns %}
      {% if item.title %}
        <li><a href="{{ item.href }}" target="_blank"><span class="iconfont icon-{{ item.title }}"></span></a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div> -->
