.archive {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-color;

  .archive-header {
    margin-bottom: 2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid $border-color;
  }

  .archive-content {

    .archive-tags {

    }

    .archive-list {


      .archive-list-title {
        margin: 2rem 0 0 0;
      }

      .archive-list-item {

      }
    }
  }

}
