.container {
  margin: 0 auto;
  width: 90%;
  max-width: 50rem;
}

.content {
  padding: 3.5rem 0 5rem 0;
  background-color: transparent;
}

.article-list {

  article {
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed $border-color;
    background: transparent;

    h2 {
      font-weight: 500;

      > a {
        color: $main-color-dark;
      }
    }

    footer {
      color: $text-color-light;
      font-size: $small-font-size;
    }

    &:hover {
      border-color: $border-color-dark;
    }
  }
}

#load-more {
  text-align: center;

  a {
    padding: .2rem 1.2rem;
    display: inline-block;
    border: 1px solid $border-color;
    color: $text-color;
    border-radius: 1.2rem;
    font-size: $small-font-size;

    &:hover {
      border-color: $border-color-dark;
      color: $text-color-dark;
    }
  }
}

#footer {
  padding: 1rem 0;
  background-color: #414141;
  font-size: $small-font-size;
  color: #9c9c9c;
  overflow: hidden;

  .footer-text {
    float: right;
  }
}


