.container {
  margin: 0 auto;
  width: 90%;
  max-width: 50rem;
}

.content {
  padding: 2rem 0;
  background-color: #fff;
}

.article-list {
  
  article {
    margin-bottom: 2.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $border-color;
    background: #fff;

    h2 a {
      color: $main-color-dark;
    }

    footer {
      color: $text-color-light;
      font-size: $small-font-size;
    }
  }
}

#load-more {
  text-align: center;

  a {
    padding: .4rem 1.2rem;
    display: inline-block;
    border: 1px solid $border-color;
    color: $text-color;
    border-radius: 1.2rem;

    &:hover {
      border-color: $border-color-dark;
      color: $text-color-dark;
    }
  }
}

#footer {
  padding: 1rem 0;
  background-color: $background-color;
  font-size: $small-font-size;
  color: $text-color-light;
}


