.weixin-share {
  position: absolute;
  @include translate3d(-200%, -200%, 0);
}

.post {
  margin-bottom: 20px;
  border-bottom: 1px solid $border-color;

  .post-header {
    margin-bottom: 2rem;
    padding-bottom: .8rem;
    border-bottom: 1px solid $border-color;

    .post-title {
      font-weight: 500;
      color: $text-color-dark;
      font-size: 1.8rem;

      @include media-query(480px) {
        font-size: 1.6rem;
        line-height: 1.8;
      }
    }

    .post-meta {
      font-size: $small-font-size;
      color: $text-color-light;
      margin-bottom: 10px;
    }
  }

  .post-lastmodified {
    color: $text-color-light;
    font-size: $small-font-size;
  }

  .post-content {

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
      font-weight: 200;
      color: #000;
      margin-bottom: 1.2rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.6rem;
      border-bottom: 1px solid $border-color;
    }

    h3 {
      font-size: 1.4rem;
    }

    h4 {
      font-size: 1.4rem;
    }

    h5, h6 {
      font-size: 1.2rem;
    }

    blockquote {
      position: relative;
      color: $text-color-dark;
      font-weight: 500;
      font-family: Avenir, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
      border-left: 2px solid $main-color-dark;
      padding-left: 1em;
      margin: 1em 0 1em 1em;
    }

    pre, code {
      font-family: Courier, 'Courier New', monospace;
    }

    pre {
      background: #f8f8f8;
      border: 1px solid #ddd;
      padding: 1em 1.5em;
      display: block;
      -webkit-overflow-scrolling: touch;
    }

    hr {
      border: none;
      border-bottom: 1px solid #cfcfcf;
      margin-bottom: 10px;
      *color: pink;
      *filter: chroma(color=pink);
      height: 10px;
      *margin: -7px 0 2px;
    }

    strong, b {
      font-style: normal;
      font-weight: bold;
      color: #000;
    }

    em {
      font-style: italic;
      color: $text-color-light;
    }

    p, pre, ul, ol, dl, form, hr, table, blockquote {
      margin-bottom: 1.6rem;
    }

    ul {
      margin-left: 1.3em;
      list-style: disc;

      > li {
        ul, ol {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 2em;
        }
        ul { list-style: circle; }
      }
    }

    ol {
      list-style: decimal;
      margin-left: 1.6em;

      li {
        list-style: decimal;
      }
    }

    table {
      th, td, caption {
        border: 1px solid #ddd;
        padding: 0.5em 1em;
        color: #666;
      }

      th { background:#fbfbfb; }

      caption { border-bottom: none; }

      thead th { background: #f1f1f1; }

    }

    img {
      margin: 0 auto 1.6rem;
      max-width: 400px;
      display: block;
      height: auto;

      @include media-query(480px) {
        max-width: 100%;
        font-size: 1.6rem;
        line-height: 2;
      }
    }
  }
}

