<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="layout"></div>
    {% include sidebar.html %}
    <div class="off-canvas-wrap" data-offcanvas>
      
    {% include header.html %}

      <div class="content">
        <div class="container">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
